h1{
	background-color: lightgreen;
	padding: 100px;
}
nav{width: 100%; }
.header {
  padding: 10px 16px;
  background: #555;
	color: #f1f1f1;
	
}
.bg-dark{
  transition: .6s;
}
.bg-dark-hidden{
  transition: .5s;
}


.ozel-scrollbar::-webkit-scrollbar {
	width: 10px;

}
.ozel-scrollbar::-webkit-scrollbar-thumb {
	background-color:blanchedalmond;

}

.ozel-scrollbar {

	overflow-y: scroll;

 }


